* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:black;
  font-family: 'Times New Roman', Times, serif;
  }

p {
  padding: 1%;
  color: black;
  }

a {
  color: darkblue;
  text-decoration: none;
}

.header {
  padding: 3px;
  border: 3px;
  border-style: solid;
  border-color: grey;
  margin: 30px 150px 5px 150px;
  background-color: white;
  color: black;
}

.header h1 {
  margin: 1% 0% 1% 0%;
  display: flex;
  justify-content: center;
  font-size: 55px;
}

.header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.header ul li {
  margin: 1% 3% 1% 3%;
  font-size: 25px;
}

.header ul li a:hover {
  color: grey;
  text-decoration: line-through;
}

h2 {
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: black;
}

.about,
.work, 
.contact {
  padding: 3px;
  border: 3px;
  border-style: solid;
  border-color: grey;
  margin: 5px 150px 5px 150px;
  background-color: white;
  color: black;
}

#portrait-position {
  text-align: center;
}

.portrait {
  width: 150px; 
  border: solid;
}

.contact ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.contact ul li {
  margin: 0% 3% 0% 3%;
  font-size: 20px;
}

.contact ul li a:hover {
  color: grey;
  text-decoration: none;
}